<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datapermissions.dataservice.mapper.DataMapper">

    <select id="getDaySale" resultType="com.datapermissions.dataservice.bean.DO.DaySaleDO">
        select
            *
        from gds_day_sale a
    </select>

    <select id="getPromotionSelectSingle" resultType="com.datapermissions.dataservice.bean.DO.PromotionSelectionSingle">
        select *
            from  promotion_selection_single
    </select>
</mapper>
